# Dependency directories
node_modules/

# Environment variables
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional editor directory to ignore
.vscode/

# Optional macOS directory to ignore
.DS_Store
